<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/table.css">
  <title>Gastos</title>
</head>

<body>
  <div class="AllTables">
    <!-- {list: dataComplet, obj: collection} -->
    <% for (let collection in dataComplet) { %>
    <% if (collection === "daily") {%>
    <%- include("./modules/dailyTable", {list: dataComplet, obj: collection})%>
    <% } else if (collection === "fixed") {%>
    <%- include("./modules/fixedTable", {list: dataComplet, obj: collection})%>
    <% } else if (collection === "term") {%>
    <%- include("./modules/termTable", {list: dataComplet, obj: collection})%>
    <% } %>
    <% } %>
  </div>
</body>

</html>